body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f2f2f2;
  color: #333333;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffa500;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header h2 {
  margin: 0;
  color: #ffffff;
  font-size: 28px;
}

.nav {
  display: flex;
  justify-content: flex-end; /* Modified to place the navigation on the right */
  margin-top: 20px;
}

.nav-item {
  margin-left: 20px; /* Adjusted margin to separate items */
}

.nav-item a {
  text-decoration: none;
  color: #333333;
  font-size: 16px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-item a:hover {
  color: #ff4500;
}

.container {
  background-color: #ffffff;
  margin: 20px auto;
  padding: 20px;
  width: 80%;
  max-width: 600px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1,
h3 {
  text-align: center;
  color: #555555;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  color: #444444;
  line-height: 1.6;
}

input[type="text"],
textarea {
  width: calc(100% - 20px);
  padding: 12px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 1px solid #dddddd;
  border-radius: 8px;
}

.btn {
  background: linear-gradient(to right, #ffa500, #ff4500);
  color: white;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  transition: background 0.3s ease;
  border-radius: 8px;
}

.btn:hover {
  background: linear-gradient(to right, #ff8c00, #ff0000);
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 12px;
}

hr {
  border: none;
  height: 1px;
  background-color: #dddddd;
  margin: 20px 0;
}
